<ion-view view-title="Sowing">
  <ion-content class="padding">
<div class="container" ng-app="starter">
<h1> Protocols </h1>
  <ol>
    <ul ng-controller="SowingCtrl" >

      <li ng-repeat="crop in crops">
        {{crop.name}}

        <ul>
          <li ng-repeat="sowing in crop.sowings">
            {{sowing.name}}
            {{sowing.type}}
            <ul>
              <li ng-repeat="protocol in sowing.protocols">
                {{protocol.name}}
                {{protocol.crop}}
                {{protocol.prototype}}
                {{protocol.notes}}
                {{protocol.timecreated}}
                <ul>
                  <li ng-repeat="practice in protocol.practices">
                    {{practice.name}}
                    {{practice.description}}
                    <ul>
                      <li ng-repeat="property in practice.properties">
                        {{property.name}}
                        {{property.type}}
                        <ul>
                          <li ng-repeat="image in property.images">
                            {{image.name}}
                            {{image.crop}}
                            {{image.prototype}}
                            {{image.notes}}
                            {{image.timecreated}}
                            <ul>
                              <li ng-repeat="imagetext in image.imagetexts">
                                {{imagetext.protocol}}
                                {{imagetext.protocolsection}}
                                {{imagetext.ordinalinsection}}
                                {{imagetext.day}}
                                {{imagetext.daysupto}}
                                {{imagetext.ordinalinday}}
                                {{imagetext.name}}
                                {{imagetext.description}}
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
        </ul>
      </li>
</ol>
</div>

</ion-content>
</ion-view>
